/*====================
GAME CONTAINER SETTINGS
- Size: 1200 x 800px (width x height)
- Background image: space photo taken from telescope Hubble https://esahubble.org/images/heic1304c/
====================*/
#game-container {
  position: absolute;
  width: 1200px;
  height: 800px;
  background-image: url("assets/background.jpg");
  border: 1px solid black;
  margin: 0 auto;
}

/*====================
INITIAL / PRE-GAME SCREEN SETTINGS
====================*/
#initial-screen {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-name-label {
  font-size: 5em;
  font-family: "Star Wars", sans-serif;
  color: yellow;
  text-align: center;
}

#enter-to-play {
  font-size: 1.5em;
  font-family: "Press Start 2P", system-ui;
  color: yellow;
  text-align: center;
  animation: animate 1.5s linear infinite;
}

/* Blinking animation settings for enter-to-play */
@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

#move-instructions {
  margin-top: 50px;
  font-size: 0.8em;
  font-family: "Press Start 2P", system-ui;
  color: yellow;
  text-align: center;
}

#fire-instructions {
  font-size: 0.8em;
  font-family: "Press Start 2P", system-ui;
  color: yellow;
  text-align: center;
}

/*====================
SCORE LABEL AND VALUE SETTINGS
====================*/

#score-label {
  position: absolute;
  top: 0%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-family: "Press Start 2P", system-ui;
}

#score-value {
  position: absolute;
  top: 0%;
  left: 97%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-family: "Press Start 2P", system-ui;
}
/*====================
PLAYER STYLE SETTINGS
- Size: 50 X 50px (width x height)
- Resized Millenium Falcon image from https://dribbble.com/shots/14279576-Millennium-Falcon*
====================*/
#player {
  /* NOT using position: absolute; but sticky; instead so I can limit the player movement within container limits*/
  position: sticky;
  width: 50px;
  height: 50px;
  background-image: url("assets/player.png");
  bottom: 0;
  left: 602px;
  top: 800px;
}

/*====================
ENEMY STYLE SETTINGS
- Size: 50 X 50px (width x height)
====================*/
.enemy {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("assets/enemy.png");
}

/*====================
BULLET STYLE SETTINGS
- Size: 5 X 20px (width x height)
====================*/
.bullet {
  position: absolute;
  width: 10px;
  height: 28px;
  background-image: url("assets/bullet.png");
}
